.enshop-section {
  margin-top: 3rem;
}

.enshop-section__header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.enshop-section__header__title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
}

.enshop-section__content {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.enshop-section__content__col {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.enshop-section__content__col:last-child {
  border-right: 0;
}

a.enshop-section__content__col:hover {
  text-decoration: none;
}

.enshop-section__content__col .text {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #555;
}

.card-body-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card-body-text {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.web-footer {
  margin-top: 3rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

body {
  background-color: #fff;
}

.btn-style-left {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: right;
}

.btn-style-right {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.card-custom {
  background-color: #48a594;
  margin: auto;
  /* border: 3px solid #cccccc; */
  padding: 10px;
  text-align: center;
}
.title-text {
  font-weight: bold;
  color: #fff;
}
.white-text {
  color: #fff;
}
.icon-style {
  padding: 0;
  font-size: 33px;
  color: #fff;
}

.custom-container {
  max-width: 1400px;
}
.feautured-text {
  text-align: center;
}

.text-1 {
  font-size: 2rem;

  font-family: sans-serif;
}

.text-2 {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
}
.custom-size {
  max-width: 1800px;
}

.shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.main-items {
  height: 566px;
}
