{% extends "templates/web.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<!-- or the reference on CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@1.3.3/dist/css/splide.min.css">
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-sea-green.min.css">

<link rel="stylesheet" href="utils/css/home.css">

<link rel="stylesheet" href="utils/css/style.css">






<main>
    <div class="main-items">

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for row in range(0,banner|length) %}
                {% if row == 0 %}
                <li data-target="#carousel" data-slide-to="{{row}}" class="active"></li>
                {% else %}
                <li data-target="#carousel" data-slide-to="{{row}}"></li>
                {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for row in range(0,banner|length) %}
                {% if row == 0 %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{banner[row].imageurl}}">
                </div>
                {% else %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{banner[row].imageurl}}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="">
        <div class="card-custom">
            <div class="card-body">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="icon-style">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="col-sm">
                                <div class="title-text">FREE SHIPPING</div>
                                <div class="white-text">free delivery on all orders over $99</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="icon-style">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="col-sm">
                                <div class="title-text">100% PAYMENT SECURE</div>
                                <div class="white-text">Payment 100% secured</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="icon-style">
                                <i class="fa fa-undo-alt"></i>
                            </div>
                            <div class="col-sm">
                                <div class="title-text">FREE RETURN</div>
                                <div class="white-text">30 days money back guarantee!</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="icon-style">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-sm">
                                <div class="title-text">ONLINE SUPPORT 24/7</div>
                                <div class="white-text">we support online 24 hours a day</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feautured-text">
        <span class="text-1">Featured</span>&nbsp;&nbsp;&nbsp;<span class="text-2">Categories</span>
    </div>

    <div style="padding-left: 30px;padding-right:30px ;">
        <div id="splide" style="text-align: center; padding: 0;
        padding-left: 50px;padding-right: 50px;">
            <div class="splide__track shadow">
                <ul class="splide__list">
                    {% for featured_item_group_index in range (0,featured_item_group|length) %}
                    <a href="categories?item_group={{featured_item_group[featured_item_group_index].label}}">
                        <li class="splide__slide">
                            <div class="card" style="background-color: white; padding: 20px; height: 280px;">
                                <div style="height: 88%;">
                                    <img class="img-responsive"
                                        src="{{ featured_item_group[featured_item_group_index].imageurl }}">
                                </div>
                                <span
                                    style="text-align: left; font-weight: bold; font-size: 15px; color: #000;">{{featured_item_group[featured_item_group_index].label
                                    }}</span>
                            </div>
                        </li>
                    </a>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <div style="background-color: white;">
        <div class="feautured-text">
            <span class="text-1">Most</span>&nbsp;&nbsp;&nbsp;<span class="text-2">Popular</span>
        </div>
        <div class="container" style="max-width: 1465px;">
            <div class="">
                {% for row in range(0,most_popular_cards|length,3) %}
                <div class="row">
                    {% for most_popular_card in range(row,most_popular_cards|length) %}

                    <div class=col>

                        <a href="{{ most_popular_cards[most_popular_card].hyperlink }}">
                            <div class="card shadow" style="height: 500px; 
                    font-weight: bold;">
                                <div style="height: 88%; padding: 20px;">
                                    <img class="img-responsive"
                                        src="{{  most_popular_cards[most_popular_card].imageurl }}">
                                </div>
                                <div style="padding: 10px;">
                                    <span style="color: black;">
                                        {{ most_popular_cards[most_popular_card].label }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@1.3.3/dist/js/splide.min.js"></script>
    <script src="utils/home.js"></script>


</main>
{% endblock %}